Flask
Flask-SQLAlchemy
Flask-Cors
requests
python-dotenv
pyyaml
langchain
langchain-google-genai
langchain-community
langchain_huggingface
langchain_openai
python-dotenv
anthropic
langchain_google_vertexai
google-cloud-aiplatform[reasoningengine,langchain]
langchain-anthropic